@import "tailwindcss";
@plugin "daisyui" {
  logs: false;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: true;
  prefersdark: false;
  color-schema: "dark";
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "nord";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
